.container
{
    display: flex;
    flex-flow: row;
    height: 1000px;
    background-color: brown;
}
h1
{
  color:white;
}
h2
{
  color:black;
}

img
{
    height:150px;
    width:150px;
    border-radius:50%;
    display: block;
    margin: auto;
}
.text
{
    font-size:10px;
    line-height:1.8em;
    font-weight:600;
    margin-top: 20px;
    text-transform:uppercase;
    text-align: center;
    color: #fff;
    padding-bottom:5px;
    border-bottom:2px solid rgba(255,155,255,0.2);
   
}
.text span
{
    font-size:0.8em;
    font-weight:300;
    color: white;
}
.text h2
{
   color: white;
}
.info span
{
   color: white;
   font-weight: bold;
}
.info  li
{
   padding: 10px;
   color:white;
}

.personalinfo span
{
   color:white;
   display: block;
   font-weight:300;
}

.personalinfo .title
{
    font-weight:bold;
    margin-right:20px;
}

.personalinfo li
{
   list-style-type:none;
   padding: 10px;
   margin: auto;
   text-align: center;
}
.lang  li .first
{
   font-weight: bold;
}
.lang span
{
   color:white;
   display: block;
   font-weight:300;
}

.lang .title
{
   font-weight:bold;
   margin-right:20px;
}

.lang li
{
   list-style-type:none;
   padding: 10px;
   margin: auto;
}

.lang li .first
{
   font-weight: bold;
}
.edu ul li
{
   font-weight: bold;
   margin:15px;
   list-style-type: none;
}
div .c3
{
   counter-reset: x;
}
div .c3 ul li:before
{
    counter-increment:x;
    content:counter(x);
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    background-color: black;   
}
.left
{
    width:20%;
    height: 100%;
    background-color: #4C3D3D;
}
.right
{
    width:80%;
    height: 100%;
    background-color:grey;
}
@media screen and (min-width:50px) and (max-width:599px)
{
      img
      {
       width: 250px;
       border-radius:50%;
      }
     .container
     {
        flex-flow:column;
        font-size:12px;
     }
      .left
    {
        width:100%;
        height: 100%;
        background-color: #4C3D3D;
    }
    .info li
    {
       margin-left:-40px;
    }
    
    .right
    {
        width:100%;
        height: 100%;
        background-color: grey;
    }
    .container
    {
        background-color: white;
    }
    
    .lang li
    {
        text-align: center;
    }
}
@media screen and (min-width:400px) and (max-width:599px)
{
    .container
    {
       font-size: 15px;
    }
 
}
@media screen and (min-width:600px) and (max-width:1080px)
{
     .left
     {
        width:35%;
        height: 1050px;
        background-color: #4C3D3D;
     
     }
     .right
     {
        width:65%;
        height: 1050px;
        background-color: grey;
     }
}

@media screen and (min-width:50px) and (max-width:300px)
{
     img
     {
        border-radius:50%;
        width:100px;
     }
     .edu ul li 
     {
        margin-left:-40px;
     }
}
@media screen and (min-width:20px) and (max-width:140px)
{
     .lang li 
     {
        margin-left:-40px;
     }
     .info  li
     {
        margin-left:-50px;
     }
     
     .left
     {
        height: 1200px;
     }
     .right
     {
       height: 1200px;
     }
}